html{

  font-family: 'Yellowtail', cursive;
  background: -webkit-radial-gradient(rgb(154, 165, 175), rgb(0, 0, 0));
  background: radial-gradient(rgb(154, 165, 175), rgb(0, 0, 0)); ;
  background: 2 ;  /*background的背景順序*/
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{ /*title*/
  position: absolute;
  top:-10px;
  font-size:50px;
  color:rgb(255, 255, 255);
}

h2 { /*年齡*/
  position: absolute;
  top:600px ;
  left: 680px ;
  font-size:40px;
  color:rgb(255, 255, 255);
}

video  {
  border: 20px double rgb(255, 255, 255);
  background:  1 ;
}

canvas {
  position: absolute;
}
